/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Righteous);

img.landing-bg {
   position: relative;
   left:0px;
   min-width:100%;

}
div.bg-wrapper {
   overflow:hidden;
   position: relative;
   width:100%;
   left:0px;
}
.bg-wrapper h1 {
   position:absolute;
   left:40px;
   bottom:0px;
   text-align:center;
   z-index:23;
   color:#333;
   font-family: 'Righteous', cursive;
   padding:20px;
   width:30%;
   color:#424242;
   font-size:2em;
}
.bg-wrapper h1 span{
      font-size:2.5em;
      line-height:60px;
}
nav{
   position:relative;
   width:100%;
   left:0px;
   height:70px;
   margin-top:-5px;
}
nav ul li {
   padding-left:20px;
   padding-right:20px;
}
#nav-mobile li a, a.brand-logo{
      color:#424242!important;
   font-weight:400px;
}

.grid{
   position:relative;
   width:100%;
}
.grid-sizer,
.grid-item {
width: 20%;
   }
.grid-item img{
      width:100%;
      display: block;
   }
/* 2 columns */
.grid-item--width2 {
   width:40%;
   }
