.new-post input {
	position: relative;
	width: 80%;
	display: block;
	line-height: 30px;
	margin: 30px auto;
}
.new-post textarea {
	display: block;
	position: relative;
	width: 80%;
	margin: 10px auto;
	height: 200px;
	resize: vertical;
}
.new-post {
	padding:20px;
}
.new-post h1 {
	margin-left:10%;
}
.new-post button {
	margin: 0px auto;
	display: block;
	width: 70px;
	padding: 5px;
}
table.blog {
	/* border: 1px solid #333; */
	width: 100%;
	margin-top: 40px;
}

.blog td {
	border: 1px solid #333;;
	text-align: center;
	font-family: 'Open sans';
}

.blog th {
	border: 1px solid #333;     text-align: center;     font-family: 'Open sans';
	background: #333;
	color: #fff;
	font-weight: bold;
}
td.delete:hover {
	cursor: pointer;
	background: #c0392b;
	color: #fff;
}
td.edit:hover {
	cursor: pointer;
	background: #e67e22;
	color: #fff;
}