@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: AlexBrush;
  src: url(AlexBrush-Regular.ttf);
}
html {
  background:url('bg.jpg');
  background-size:stretch;
  background-position: center;
  color: #333;

}
ul,ol,li {
  font-family:'Open Sans';
}
div#wrapper {
  position: relative;
  width: 80%;
  margin: 0px auto;
  top: 100px;
}
#nav-wrapper {
  width:100%;
  position::fixed;
  top:0px;
  background:#fff;
}
nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left:0px;
  z-index: 2;
  background:#fff;
}

img#landscape-image {
 position: relative;
 width:68%;
}

img#portait-image {
 float: right;
 position: relative;
 width:30.3%;
}

nav h1 {
 color: #333;
 font-family: AlexBrush;
 position: absolute;
 bottom: 0px;
 left: 0px;
 margin-bottom: 20px;
 left:10%;
 font-size:1.8em;
}

nav ul {
 list-style: none;
 position: absolute;
 bottom: 0px;
 right: 0px;
 margin-bottom: 20px;
 right:10%;
}

nav li {
 display: inline;
 padding: 0px 20px;
}

nav li a {
  font-family: AlexBrush;
  color: #333;
  text-decoration: none;
  padding-bottom: 6px;
  font-size:1.4em;
}

nav li a:hover,
nav li a#active {
 border-bottom: 4px solid #333;
 cursor:pointer;
}
h1,
h2,
h3,
h4,
h5,
p {
 font-family: 'Open Sans';
}
#pricing-content {
  display:none;
}
.content {
 padding: 20px 10%;
 background:#fff;
 margin:20px auto;
}

.card {
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.content h1 {
 font-size: 2.8em;
 font-family:AlexBrush;
}

.content p {
 font-family: 'Open Sans';
 padding: 5px 0px;
 font-size: 1em;
 line-height: 25px;
}

footer {
  margin-top: 80px;
  position: relative;
  width: 100%;
}
a.ghost-button{
  border: 2px solid #333;
  border-radius:5px;
  margin-right:10px;
  display:inline-block;
  width:auto;
  padding:0px 10px;
  font-family: 'Open Sans';
  color:#333;
  text-decoration:none;
}

a.ghost-button:hover, a.ghost-button.active {
  cursor:pointer;
  background:#333;
  color:#fff;
}
#contact img {
 width: 150px;
 -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
 transform: scaleX(-1);
 filter: FlipH;
 -ms-filter: "FlipH";
}

footer #details {
 padding: 5px;
 float: right;
}

#contact {
 float: left;
}

#craig-link {
 position: absolute;
 text-align: center;
 padding: 65px 0px;
 right: 0px;
}

i#mobile-menu-icon {
 position: fixed;
 top: 20px;
 left: 20px;
 display: none;
 font-size: 2em;
}

i#mobile-menu-icon:hover {
 cursor: pointer;
}


.result-item {
 width: 33%;
 box-sizing: border-box;
 padding: 1%;
 float: left;
}
.grid-sizer,
.masonry-item {
 width: 33%;
 box-sizing: border-box;
 padding: 1%;
 float:left;
}
.masonry-item img {
  width:100%;
}
.masonry-item img:hover {
  cursor:pointer;
  box-shadow: none;
}
#weddings-container {
  margin-top: 30px;
}

.result-item .img {
  background-size: cover;
  box-sizing: border-box;
  position:relative;
  background-position: center;
}
.result-item .img:hover {
  cursor:pointer;
  box-shadow: none;
}
.result-item .img h1 {
  color:#fff;
  position:absolute;
  bottom:0px;
  width:100%;
  text-align: center;
}
.result-item .img img {
  width:100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
h1.mobile {
  display:none;
  text-align:center;
}
@media screen and (max-width:770px) {
 #contact {
  float: none;
}

#craig-link {
  position: relative;
  padding-bottom: 10px;
}
h1.mobile {
  display:block;

}
}

@media screen and (max-width:520px) {
  #contact img {
    display:none;
  }
  #contact {
    position:relative;
    width:100%;
    text-align:center;
    margin-top:0px;
  }
  #contact #details {
    float:none;
  }
  #craig-link {
    padding:0px;
  }
}
}