<template name="admin_weddings">
	<a id="gallery" class="active ghost-button">Gallery</a>
	<a id="description" class="ghost-button">Pricing and info</a>
	<br><br><br>
	<div class="gallery_container">
		<a id="add_gallery_button" class="ghost-button">+ Add Gallery</a>

		<table class="blog">
			<th>Gallery Title</th>
			<th>Date</th>
			<th>Private</th>
			<th>Password</th>
			<th>Image Count</th>
			<th>Edit Action</th>
			<th>Delete Action</th>
			{{#each Galleries}}
			{{> admin_gallery_row}}
			{{/each}}
		</table>
	</div>
	<div class="intro_container">
		<h1 class="center">Edit your pricing and information</h1>
		<form action="" onsubmit='editor.post();'>
			<textarea id="intro-content" name="content" placeholder='It was a sunday afternoon..'>{{{description}}}</textarea>

			<input type='submit' value='Edit' />
		</form>
	</div>
	<p class="success">Information has been updated</p>

</template>
<template name="admin_landscape">
	<a id="gallery" class="active ghost-button">Gallery</a>
	<a id="description" class="ghost-button">Pricing and info</a>
	<br><br><br>
	<div class="gallery_container">
		<a id="add_gallery_button" class="ghost-button">+ Add Gallery</a>
		<table class="blog">
			<th>Gallery Title</th>
			<th>Date</th>
			<th>Private</th>
			<th>Password</th>
			<th>Image Count</th>
			<th>Edit Action</th>
			<th>Delete Action</th>
			{{#each Galleries}}
			{{> admin_gallery_row}}
			{{/each}}
		</table>
	</div>
	<div class="intro_container">
		<h1 class="center">Edit your pricing and information</h1>
		<form action="" onsubmit='editor.post();'>
			<textarea id="intro-content" name="content" placeholder='It was a sunday afternoon..'>{{{description}}}</textarea>

			<input type='submit' value='Edit' />
		</form>
	</div>
	<p class="success">Information has been updated</p>

</template>
<template name="admin_portraits">
	<a id="gallery" class="active ghost-button">Gallery</a>
	<a id="description" class="ghost-button">Pricing and info</a>
	<br><br><br>
	<div class="gallery_container">
		<a id="add_gallery_button" class="ghost-button">+ Add Gallery</a>
		<table class="blog">
			<th>Gallery Title</th>
			<th>Date</th>
			<th>Private</th>
			<th>Password</th>
			<th>Image Count</th>
			<th>Edit Action</th>
			<th>Delete Action</th>
			{{#each Galleries}}
			{{> admin_gallery_row}}
			{{/each}}
		</table>
	</div>
	<div class="intro_container">
		<h1 class="center">Edit your pricing and information</h1>
		<form action="" onsubmit='editor.post();'>
			<textarea id="intro-content" name="content" placeholder='It was a sunday afternoon..'>{{{description}}}</textarea>

			<input type='submit' value='Edit' />
		</form>
	</div>
	<p class="success">Information has been updated</p>
</template>
<template name="admin_gallery_row">
	<tr>
		<td><a class="goToGallery" href='' id="{{_id}}">{{title}}</a></td>
		<td>{{formatDate createdAt}}</td>
		{{#if private}}
		<td>private</td>
		<td>{{password}}</td>
		{{else}}
		<td>public</td>
		<td> Not set </td>
		{{/if}}
		<td>{{image_count}}</td>
		<td class="edit">edit</td>
		<td class="delete">delete</td>
	</tr>
</template>
<template name='admin_gallery'>
	<a id="add_image_button" href="/admin/new-image/{{ gallery }}" class="ghost-button">+ Add Image</a>
	<table class='blog'>
		<th>Image</th>
		<th>Date</th>
		{{#if isLandscape}}
		<th>Edit Title</th>
		{{/if}}
		<th>Delete Action</th>
		<th>Uploaded</th>

		{{#each imagesForGallery}}
		{{#if isLandscape}}
		{{> admin_landscape_image_row }}
		{{else}}
		{{> admin_image_row}}
		{{/if}}
		{{/each}}
		{{#if isLandscape}}
		<div class="overlay">
		</div>
		<div class="edit_container">
			<input  data-id="0" placeholder="Enter a new title" type="text">
			<a href="">Update</a>
		</div>
		{{/if}}
	</table>
</template>
<template name="admin_image_row">
	<tr>
		<td><a href='/admin/image/{{image._id}}' target="_blank">{{ image._id }}</a></td>
		<td>{{formatDate createdAt}}</td>
		<td class="delete">Delete</td>
		{{#if isUploaded }}
		<td>Uploaded</td>
		{{else}}
		<td>Uploading</td>
		{{/if}}
	</tr>
</template>
<template name="admin_landscape_image_row">
	<tr>
		<td><a href='/admin/image/{{image._id}}' target="_blank">{{ title }}</a></td>
		<td>{{formatDate createdAt}}</td>
		<td class="edit">Edit</td>
		<td class="delete">Delete</td>
		{{#if isUploaded }}
		<td>Uploaded</td>
		{{else}}
		<td>Uploading</td>
		{{/if}}
	</tr>
</template>
<template name='view_image'>
	{{#if getImage}}
	<img src="{{getImage.url store='images' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt=""/>
	{{else}}
	<p>There was an error getting your image. Try reloading. If that doesn't work ask Craig.</p>
	{{/if}}
</template>
