<template name="galleries">

	<h1>Gallery 1</h1>
	<div id="result-container">
		<div class="grid-sizer"></div>
		<div class="result-item">
			<img src="Gallery_1/1.jpg" />
		</div>
		<div class="result-item">
			<img src="Gallery_1/2.jpg" />
		</div>
		<div class="result-item">
			<img src="Gallery_1/3.jpg" />
		</div>
	</div>

	<h1>Gallery 2</h1>
	<div id="result-container-2">
		<div class="grid-sizer"></div>
		<div class="result-item">
			<img src="Gallery_2/1.jpg" />
		</div>
		<div class="result-item">
			<img src="Gallery_2/2.jpg" />
		</div>
		<div class="result-item">
			<img src="Gallery_2/3.jpg" />
		</div>
	</div>

	<h1>Gallery 3</h1>
	<div id="result-container-3">
		<div class="grid-sizer"></div>
		<div class="result-item">
			<img src="Gallery_3/1.jpg" />
		</div>
		<div class="result-item">
			<img src="Gallery_3/2.jpg" />
		</div>
		<div class="result-item">
			<img src="Gallery_3/3.jpg" />
		</div>
	</div>
</template>
