<template name="pageNotFound">
	<head>
		<style>

			.container {
				width:400px;
				display:block;
				margin:17% auto;
				position: relative;
				text-align:center;
				float:none;
			}
			a {
				color:#333;
				border:1px solid #333;
				padding: 5px 10px;
				text-decoration:none;
				font-family:'Open Sans';
				margin-top:10px;
				display:inline-block;
				transition:all 0.1s ease-out;
			}
			a:hover {
				padding:5px 20px;
				border-top-color:#fff;
				border-bottom-color:#fff;
				border-radius:4px;
			}

		</style>
	</head>
	<body id="404">

		<div class="container">
			<h1>404</h1>
			<p>Hi. It appears you've ended up somewhere you shouldn't be.</p>
			<a href="/">Back to site</a>
		</div>

	</body>
</template>