<template name="portrait_galleries">
	<div id="portrait-container">
		{{#each Galleries}}
		{{> gallery}}
		{{/each}}
	</div>
</template>
<template name="portrait_nav">
	<div id="portrait-nav">
		<a id="galleries" class="active ghost-button" >Galleries</a>
		<a id="pricing" class="ghost-button">Pricing &amp; Info</a>
	</div>
</template>
<template name='portrait_pricing'>
	<div id="pricing-content" class="card content">
		{{{description}}}
	</div>
</template>
<template name='portraits'>
	<h1 id="gallery-title">Portrait Galleries</h1>
	{{ > portrait_nav}}
	{{ > portrait_pricing}}
	{{ > portrait_galleries}}
</template>