<template name="weddings">
	<h1 id="gallery-title">Wedding Galleries</h1>
	{{ > wedding_nav}}
	{{ > pricing}}
	{{ > wedding_galleries}}

</template>
<template name="wedding_nav">
	<div id="wedding-nav">
		<a id="galleries" class="active ghost-button" >Galleries</a>
		<a id="pricing" class="ghost-button">Pricing &amp; Info</a>
	</div>
</template>
<template name="pricing">
	<div id="pricing-content" class="card content">
		{{{description}}}
	</div>
</template>
<template name="wedding_galleries">
	<div id="weddings-container">
		{{#each Galleries}}
		{{> gallery}}
		{{/each}}
	</div>
</template>