<template name="weddings">
	<h1 class="mobile">Weddings</h1>
	{{ > wedding_nav}}
	{{ > pricing}}
	{{ > wedding_galleries}}

</template>
<template name="wedding_nav">
	<div id="wedding-nav">
		<a id="galleries" class="active ghost-button" >Galleries</a>
		<a id="pricing" class="ghost-button">Pricing &amp; Info</a>
	</div>
</template>
<template name="pricing">
	<div id="pricing-content" class="card content">
		<h1>Wedding Pricing</h1>
		<p>
			Basic Wedding package £700 and includes:
		</p>
		<ul>
			<li>A pre-wedding interview to go over the Fine details.</li>
			<li>A pre-wedding viewing of the location with the couple</li>
			<li>All day shooting from the preparations to the party </li>
			<li>200 or more high resolution images on DVD-ROM or USB Memory Stick.</li>
			<li>A Printed Storybook with 40~50 images personally selected by the Newlyweds</li>
			<li>All travel included within Scotland (accommodation may be required, for further travels)</li>
		</ul>
		<p>Extras</p>
		<ol>
			<li>Traditional Wedding Album - £200</li>
		</ol>
	</div>
</template>
<template name="wedding_galleries">
	<div id="weddings-container">
		{{#each Galleries}}
		{{> gallery}}
		{{/each}}
	</div>
</template>