<template name="welcome">
	<div id="portrait-slides" class="card">
		{{#each portraitImages}}
		<img src="{{this.url store='PortraitSlideshow' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt=""/>
		{{/each}}

	</div>
	<div id="landscape-slides" class="card">
		{{#each landscapeImages}}
		<img src="{{this.url store='LandscapeSlideshow' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt=""/>
		{{/each}}
	</div>

	
	<div id="content" class="card content">
		<h1>Welcome</h1>
		<p>Welcome to Pictures of Lily, home of Scottish wedding Photographer Kevin Porter. Based in the scenic rural Village of Alva in Central Scotland, Kevin provides a first class service to Clients situated anywhere in the Country...</p>
		<p>With a relaxed professional approach, Kevin will put you at ease in front of the Camera, recording the most important highlights of your most important day...
			With a basic package beginning with Morning Preparations, through Ceremony, to the First Dance in the evening, nothing is missed with your whole day documented at an affordable price.</p>
		</div>
	</template>