<template name="footer">
   <footer >

      <div id="contact" >
         <div id="details">
            <h2>Contact Kevin</h2>
            <p>Email: Picturesoflily@hotmail.com</p>
            <p>Phone: 07580941085</p>
            <p class='social'><a href="https://twitter.com/PicsOLily" target='_blank'><img  src="twitter.png" /></a></p>
            <p class='social'><a href="https://www.facebook.com/picsoflily?fref=ts" target='_blank'><img src="facebook.png" /></a></p>
         </div>
         <img id="kevin" src="kevin.jpg" />

      </div>
      <div id="craig-link">
         <p>Website design by<br />Craig Pullar</p>
      </div>
   </footer>
</template>