<template name="nav">
   <div id="nav-wrapper">
      <nav class="animated card">
         <img src="logo.png" alt="" class="logo">
         <p class="phone"><b>Phone:</b> 07759 929875</p>
         <ul>
            <li><a id="{{isActivePath '/'}}" href= "/">Welcome</a></li>
            <li><a id="{{isActivePath '/weddings'}}" href="/weddings">Weddings</a></li>
            <!-- <li><a id="{{isActivePath '/portraits'}}" href="/portraits">Portraits</a></li> -->
            <li><a id="{{isActivePath '/customer'}}" href="/customer">Customer</a></li>
            <!-- <li><a id="{{isActivePath '/landscape'}}" href="/landscape">Landscape</a></li> -->
            <li><a id="{{isActivePath '/blog'}}" href="/blog">Blog</a></li> 
            <li><a id="{{isActivePath '/contact'}}" href="/contact">Contact</a></li>
         </ul>
      </nav>
   </div>
</template>
<template name="mobileNav">
   <nav class="mobile">
      <div id="topbar">
         <div class="Menu"></div>
      </div>

      <ul id="mobilenavigation">
         <h5>Pictures of Lily</h5>
         
         <hr>
         <br>
         <p class="phone"><b>Phone:</b> 07580 941085</p>

         <li><a id="{{isActivePath '/'}}" href= "/">Welcome</a></li>
         <li><a id="{{isActivePath '/weddings'}}" href="/weddings">Weddings</a></li>
         <!-- <li><a id="{{isActivePath '/portraits'}}" href="/portraits">Portraits</a></li> -->
         <li><a id="{{isActivePath '/customer'}}" href="/customer">Customer</a></li>
         <!-- <li><a id="{{isActivePath '/landscape'}}" href="/landscape">Landscape</a></li> -->
         <li><a id="{{isActivePath '/blog'}}" href="/blog">Blog</a></li>
         <li><a id="{{isActivePath '/contact'}}" href="/contact">Contact</a></li>
      </ul>
   </nav>
</template>