<template name="nav">
   <div id="nav-wrapper">
      <nav class="mobile animated card">
         <h1>Pictures of Lily</h1>
         <ul>
            <li><a id="{{isActivePath '/'}}" href= "/">Welcome</a></li>
            <li><a id="{{isActivePath '/weddings'}}" href="/weddings">Weddings</a></li>
            <li><a id="{{isActivePath '/portraits'}}" href="/portraits">Portraits</a></li>
            <li><a id="{{isActivePath '/blog'}}" href="/blog">Blog</a></li>
            <li><a id="{{isActivePath '/contact'}}" href="/contact">Contact</a></li>
         </ul>
      </nav>
   </div>
</template>