<template name="admin_nav">
   <div id="nav-wrapper">
      <nav class="animated card">
         <h1>Admin</h1>
         <ul>
            <li><a id="{{isActivePath '/admin/weddings'}}" href="/admin/weddings">Weddings</a></li>
            <li><a id="{{isActivePath '/admin/portraits'}}" href="/admin/portraits">Portraits</a></li>
            <li><a id="{{isActivePath '/admin/slideshow'}}" href="/admin/slideshow">Slideshow</a></li>
            <li><a id="{{isActivePath '/admin/landscape'}}" href="/admin/landscape">Landscape</a></li>
            <li><a id="{{isActivePath '/admin/blog'}}" href="/admin/blog">Blog</a></li>
            <li><a href='/logout'>Logout</a></li>
         </ul>
      </nav>
   </div>
</template>
<template name="adminMobileNav">
   <nav class="mobile">
      <div id="topbar">
         <div class="Menu"></div>
      </div>

      <ul id="mobilenavigation">
         <h5>Admin</h5>
         <li><a id="{{isActivePath '/admin/weddings'}}" href="/admin/weddings">Weddings</a></li>
         <li><a id="{{isActivePath '/admin/portraits'}}" href="/admin/portraits">Portraits</a></li>
         <li><a id="{{isActivePath '/admin/slideshow'}}" href="/admin/slideshow">Slideshow</a></li>
         <li><a id="{{isActivePath '/admin/landscape'}}" href="/admin/landscape">Landscape</a></li>
         <li><a id="{{isActivePath '/admin/blog'}}" href="/admin/blog">Blog</a></li>
         <li><a href='/logout'>Logout</a></li>
      </ul>
   </nav>
</template>