<template name="admin_nav">
   <div id="nav-wrapper">
      <nav class="mobile animated">
         <h1>Admin</h1>
         <ul>
            <li><a id="{{isActivePath '/admin/weddings'}}" href="/admin/weddings">Weddings</a></li>
            <li><a id="{{isActivePath '/admin/portraits'}}" href="/admin/portraits">Portraits</a></li>
            <li><a id="{{isActivePath '/admin/blog'}}" href="/admin/blog">Blog</a></li>
            <li><a href='/logout'>Logout</a></li>
         </ul>
      </nav>
   </div>
</template>